
 @import "path.scss";
// @import "color-text.scss";
// @import "buttons.scss";

footer {
	padding: 80px 0;
	background: #fff;

	ul {
		padding: 0;

		li {
			display: inline-block;
			margin-right: 10px;

			a {
				color: #d2d2d2;
			}
		}
	}
	.social-media {
		float: right;
		a {
		    display: block;
		    width: 36px;
		    height: 36px;
		    padding: 0;
		    background: url($socialPath + "icons-social-media.png" + $parameter) 0 0 no-repeat;

			    &:hover {
			    	background-position: 0 -64px;
			    	background-color: #fff;
			    }
			}
	    .sm-twitter {
	    	background-position: -46px 0;
			    
		    &:hover {
		    	background-position: -46px -64px;
		    }
	    }
	    .sm-youtube {
	    	background-position: -92px 0;
			    
		    &:hover {
		    	background-position: -92px -64px;
		    }
	    }
	    .sm-linkedin {
	    	background-position: -138px 0;
			    
		    &:hover {
		    	background-position: -138px -64px;
		    }
	    }
	    .sm-googleplus {
	    	background-position: -184px 0;
			    
		    &:hover {
		    	background-position: -184px -64px;
		    }
	    }
    }
}
//iPad landscape
@media screen and (max-width: 1024px) {

}


//iPad portrait
@media screen and (max-width: 768px) {

}

//iPhone 6 landscape
@media screen and (max-width: 736px) {

}


//iPhone 6 portrait
@media screen and (max-width: 420px) {

}