/*Local Path Variable */
/* Server Path Variables */
footer {
  padding: 80px 0;
  background: #fff; }
  footer ul {
    padding: 0; }
    footer ul li {
      display: inline-block;
      margin-right: 10px; }
      footer ul li a {
        color: #d2d2d2; }
  footer .social-media {
    float: right; }
    footer .social-media a {
      display: block;
      width: 36px;
      height: 36px;
      padding: 0;
      background: url("../images/icons-social-media.png") 0 0 no-repeat; }
      footer .social-media a:hover {
        background-position: 0 -64px;
        background-color: #fff; }
    footer .social-media .sm-twitter {
      background-position: -46px 0; }
      footer .social-media .sm-twitter:hover {
        background-position: -46px -64px; }
    footer .social-media .sm-youtube {
      background-position: -92px 0; }
      footer .social-media .sm-youtube:hover {
        background-position: -92px -64px; }
    footer .social-media .sm-linkedin {
      background-position: -138px 0; }
      footer .social-media .sm-linkedin:hover {
        background-position: -138px -64px; }
    footer .social-media .sm-googleplus {
      background-position: -184px 0; }
      footer .social-media .sm-googleplus:hover {
        background-position: -184px -64px; }

/*# sourceMappingURL=global.css.map */
