@import "path.scss";
@import "colors.scss";

$light-purple: #b45a96;
$purple: #781e5a;

//page indicator
header #desktop-nav .bottom-nav ul.navbar-nav li:nth-child(4) a {
    color: $link-hover;
}
#hero {
	background: url($hero-baha + "hero-baha-system.jpg" + $parameter) center no-repeat;
	background-size: cover;
	margin-top: 118px;
	padding: 100px 0;

	.name {
		color: $white;
	}
}
#smart-choice {
	.tabs {
		.tab-btn {
			background: $purple;
		    color: $white;
		    line-height: 16px;
		    padding: 20px;
		    border-right: $white 1px solid;
		    border-bottom: $white 1px solid;
		    cursor: pointer;
		    
			h3 {
				text-align: center;
				margin: 0;
				line-height: 20px;
			}
			p {
				float: right;
				color: $white;
				margin: -35px 0 0 0;
			    font-size: 30px;
			    font-weight: bold;
			}

			&:hover {
				background: $light-purple;
			}
		}
		.active {
			background: $light-purple;
		}
	}
	.tab-content {
		display: none;
		padding: 0 0 20px;
		background: $grey-bg;
		h2 {
			width: 100%;
			background: $light-purple;
			text-align: center;
			color: $white;
			padding: 20px 0;
			margin: 0;
		}
		.banner {
			width: 100%;
		}
		.pad {
			padding: 40px 0;
		}
		.intro {
			h3 {
				font-size: 24px;
			}
		}
		.colors {
			h3 {
				text-align: center;
				font-size: 32px;
				margin-bottom: 40px;
			}
		}
		iframe {
			width: 100%;
			height: 500px;
		}
		.button, .legal {
			text-align: center;
			margin: 20px 0;
		}
	}
	.baha-5-power-content {
		.legal {
			text-align: left;
		}
	}

}
#one-implant {
	h3 {
		text-align: center;
	}
	.attract, .direct {
		img {
			margin: 20px auto;
		}
		p {
			text-align: center
		}
	}
	.watch-videos {
		margin: 80px 0 20px;
	}
	.video {
		img {
			margin: 0 auto;
		}
	}
}
#tech {
	.full-width {
		h2 {
			font-size: 24px;
		}
		.gold-bg, .grey-bg {
			padding: 40px 0;
			margin-bottom: 40px;
		}
		img {
			margin-left: 20px;
		}
		.button {
			margin-top: 40px;
		}
	}
	.two-col {
		.grey-bg {
			text-align: center;
			padding: 40px;
			width: 40%;
			margin: 0 5% 40px 5%;
			float: left;
			img {
				margin: 30px auto;
			}
		}
	}
}
#learn {
	text-align: center;
	h2 {
		width: 50%;
		font-style: italic;
		margin: 0 auto 40px;
	}
}
.modal {
	iframe {
		width: 100%;
		margin-bottom: 20px;
	}
}
#wireless-modal {
	img {
		margin: 0 auto;
	}
	.col-sm-6:last-child {
		padding-top: 40px;
	}
}
#app-modal {
	iframe {
		margin: 20px 0;
	}
}
.modal-dialog {
  width: 90%;
  //height: 100%;
  margin: 50px auto;
  padding: 0;
}

.modal-content {
  height: auto;
  min-height: 100%;
  border-radius: 0;
}

//iPad landscape
@media screen and (max-width: 1024px) {
	#hero {
		margin-top: 78px;
	}
}


//iPad portrait
@media screen and (max-width: 768px) {
	#hero {

		.name {
			color: $text;
		}
	}
}

//iPhone 6 landscape
@media screen and (max-width: 736px) {

	#one-implant {
		img {
			margin: 30px auto;
		}
		.video {
			margin: 30px 0;
		}
	}
	#tech {
		.two-col {
			.grey-bg:last-child {
				img {
					margin: 61px auto 30px;
				}
			}
		}
	}
}

//iPhone 6 portrait
@media screen and (max-width: 420px) {

	#smart-choice {
		.tabs {
			.tab-btn {
				.indicators {
					display: none;
				}
			}
			.tab-btn:first-child {
				padding-bottom: 40px;
			}
		}
	}
	#tech {
		.two-col {
			.grey-bg {
				width: 90%;
			}
		}
	}
}