//colors
$linkColor: #8c8d90;
$gold: #ffc423;
$gold-hover: #f8d061;
$white: #fff;
$white-hover: #e6e6e6;
$text: #3b3b3b;
$text-white-bg: #666;
$grey-bg: #f5f5f5;
$link-hover: #4abed6;
$box-bg: #f1f0ef;
$border-color: #3b3b3b;
$blue-bg: #def6f8;
$btn-grey: #998f85;