//Links Sass Variables

@import "path.scss";
@import "colors.scss";

//Fonts
@font-face {
 font-family: 'Conv_Bliss Pro Regular';
 src: url($blissProReg + "Bliss+Pro+Regular.eot" + $parameter);
 src: local('☺'), url($blissWoff + "Bliss+Pro+Regular.woff" + $parameter) format('woff'), url($blissTtg + "Bliss+Pro+Regular.ttf" + $parameter) format('truetype'), url($blissSvg + "Bliss+Pro+Regular.svg" + $parameter) format('svg');
 font-weight: normal;
 font-style: normal;
}
 @font-face {
 font-family: 'Conv_Bliss Pro Bold';
 src: url($blissBoldEot + "Bliss+Pro+Bold.eot" + $parameter);
 src: local('☺'), url($blissBoldWoff + "Bliss+Pro+Bold.woff" + $parameter) format('woff'), url($blissBoldTtg + "Bliss+Pro+Bold.ttf" + $parameter) format('truetype'), url($blissBoldSvg + "Bliss+Pro+Bold.svg" + $parameter) format('svg');
 font-weight: normal;
 font-style: normal;
}

//mixins
@mixin drop-shadow {
    box-shadow: 1px 2px 1px #d2d2d2;
}
@mixin legal-text {
	font-size: $small-text;
	color: $legal;
}
@mixin accord-header {
	background: #ebe9e7;
    border-radius: 10px;
    padding: 10px 30px;
    margin-top: 28px;
    overflow: hidden;
    cursor: pointer;
}

//global styles
body {
	color: $text;
	background: $white;
	font: bold 16px 'Conv_Bliss Pro Regular';
}
section {
	padding: 80px 0;
}
.grey-bg {
	background: $grey-bg;
}
.gold-bg {
	background: $gold;
}
.wave-bg {
	background: url($grey-wave + 'bg-grey-wave.png' + $parameter);
}
.white-bg {
	background: $white;
}
.blue-bg {
	background: $blue-bg;
}
p, li {
	font: normal 16px/30px 'Conv_Bliss Pro Regular';
	color: $text;
}
ul {
	li {
		list-style: none;
	}
}
h1 {
	font: 48px/52px 'Conv_Bliss Pro Bold';
	margin: 0 0 40px;	
}
h2 {
	font: 32px/32px 'Conv_Bliss Pro Bold';
	margin: 0 0 20px;	
}
h3 {
	font: 18px/30px 'Conv_Bliss Pro Bold';
	margin: 0;	
}
.legal {
	font: normal 12px/16px "Conv_Bliss Pro Regular";
	overflow-wrap: break-word;
}
a {
	&:hover {
		text-decoration: none;
	}
}
.gold-btn, .white-btn, .grey-btn {
	padding: 8px 30px;
	background: $gold;
	border: none;
	border-radius: 20px;
	color: $text;
	font-weight: bold;

		&:hover {
			background: $gold-hover;
		}
	
	span {
		font-size: 11px;
		margin-right: 5px;
	}
}
.white-btn {
	background: $white;

	&:hover {
		background: $white-hover;
	}
}
.grey-btn {
	background: $btn-grey;
	color: $white;

	&:hover {
		background: $white-hover;
		color: $text;
	}
}
//accordion layout
.accordion-header {
	@include accord-header;

	h2 {
		font: normal 28px/50px 'Conv_Bliss Pro Regular';
		color: $text-white-bg;
		float: left;
		margin: 0;
		padding-top: 20px;
		width: 80%
	}
	.accord-indicator {
		float: right;

		p {
			padding: 20px 18px;
			background: #781d5a;
			border-radius: 33px;
			color: #fff;
			font: 33px/16px arial !important;
			box-shadow: 0 0 5px #888;
			margin: 14px 0;
		}
		.adjust-icon {
			padding: 20px 23px;
		}
	}
}
.accordion-body {
	padding: 30px;
	margin-bottom: 10px;

	p, li {
		color: #494745;

		span {
			display: none;
		}
		a:hover span {
		    display: inline-block;
		    position: absolute;
		    padding: 20px;
		    background: #fff;
		    text-align: center;
		    color: #3d3c3c;
		    border: 2px solid #005284;
		    border-radius: 15px;
		    z-index: 1;
		    margin-left: 10px;
		}
	}
	li {
		margin-bottom: 40px;
	}
}
section {
	padding: 40px 0;
}
#hero {
	margin-top: 128px;

	p {
		font: normal 24px/30px 'Conv_Bliss Pro Regular';
	}
	.name {
		font: normal 20px/30px 'Conv_Bliss Pro Regular';
		color: $white;
		float: right;
	}
}
#testimonials {
	.two-video {
		h2 {
			color: $gold;
			text-align: center;
		}
		p {
			color: $white;
		}
	}
	.button {
		margin-top: 90px;
		text-align: center; 
	}
}
.video {
	.video-holder {
		iframe {
			height: 422px;
		}
	}
	.btn-play {
		background: url($play-btn + 'btn-play.png' + $parameter) top center;
	    position: absolute;
	    width: 95%;
	    height: 100%;
	    top: 0;
	    background-size: contain;
	    cursor: pointer;

	    &:hover {
	    	opacity: .5;
	    }
		.video-id {
			display: none;
		}
	}	
}
header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    background: #fff;
    @include drop-shadow;

    #desktop-nav {
    	padding: 15px 0;
    	margin: 0; 
    	background: $white;
    	border: none;

    	img {
    		float: left;
    	}
    	.top-nav {
    		float: right;

    		ul {
    			margin: 0;
    		
	    		li {
	    			display: inline-block;
	    			list-style: none;
	    			padding: 0 20px;
	    			border-left: 1px solid #d2d2d2;
	    			margin-bottom: 0;

	    			a {
	    				font: normal 14px 'Conv_Bliss Pro Bold';
	    			}
	    		}
	    		li:first-child {
	    			border: none;
	    		}
    		}
    		.phone {
    			text-align: right;
    		}
    	}
    	.bottom-nav {
    		float: right;
    		clear: both;
		    ul.navbar-nav {
		    	width: 975px;

		    	li {
		    		float: left;
		    		list-style: none;
		    		margin: 0 15px 0 0;
		    		line-height: 15px;
		    		text-align: center;

		    		a {
			    		font: normal 14px 'Conv_Bliss Pro Bold';
			    		color: $linkColor;

			    		&:hover {
			    			color: $link-hover;
			    		}
		    		}
		    		.nav-active {
		    			border-bottom: $gold 3px solid;
		    		}
		    	}
	    		button {
	    			margin-top: -20px;
	    		}
	    		li:last-child {
	    			margin-right: 0;
	    		}	    
			}
		}
	}
	#mobile-nav {
		display: none;
		padding: 15px;
    	margin: 0; 
    	background: $white;
    	border: none;
    	overflow: hidden;

    	.mobile-nav-btn {
    		float: right;
		    border: none;
		    background: $white;
		    font-size: 30px;
		    margin-top: 7px;
		    color: $text;

		    .glyphicon {
		    	font-size: 35px;
		    }
    	}
    	.mobile-nav-container {
    		width: 0;
    		transition: all 1s ease;
    		overflow: hidden;
    		position: absolute;
    		right: 0;
    		top: 0;
    		background: $text;
    		padding: 15px 0 20px;

    		.nav-open {
    			background: $text;
    		}
    		ul {
    			padding: 0;
    		}
    		button, li, a {
    			color: $white;
    			transition: all 1s ease;
    			list-style: none;
    			margin-left: 15px;
    		}
    		li {
    			float: none;
    		}
    		.bottom-nav {
    			margin-top: 170px;
	    		a {
	    			color: $text;
	    			display: inline-block;
	    			text-align: center;
	    			width: 90%;
	    			line-height: 19px;
	    		}
	    		button {
	    			width: 90%;
	    		}
	    		.mobile-tel {
	    			text-align: center;
	    			margin-top: 10px;

	    			a {
	    				color: $white;
	    			}
	    		}
    		}
    		
    	}
    	.closed {
    		width: 0;
    	}
    	.open {
    		width: 80%;
    	}
		img {
    		float: left;
    	}
	}
}
#testimonials {
	background: url($bg-video-section + 'bg-video-section.jpg' + $parameter) no-repeat;
	background-size: cover;
	.one-video {
		color: $white
	}
	.border {
		border: $gold 3px solid;
		border-right: none;
		height: 225px;
	}
	.border:last-child {
		border: $gold 3px solid;
		border-left: none;	
	}
	.content {
		p {
			width: 115%;
			color: $white;
			margin: 30px 0 0 -8%;
		}
	}
}

#references {
	border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;

    li {
    	font: normal 12px/16px "Conv_Bliss Pro Regular";
    	overflow-wrap: break-word;
    }
}

footer {
	padding: 40px 0 20px;
	background: #fff;

	ul {
		padding: 0;

		li {
			display: inline-block;
			margin-right: 10px;

			a {
				color: #d2d2d2;
			}
		}
	}
	.social-media {
		float: right;
		a {
		    display: block;
		    width: 36px;
		    height: 36px;
		    padding: 0;
		    background: url($socialPath + "icons-social-media.png" + $parameter) 0 0 no-repeat;

			    &:hover {
			    	background-position: 0 -64px;
			    	background-color: #fff;
			    }
			}
	    .sm-twitter {
	    	background-position: -46px 0;
			    
		    &:hover {
		    	background-position: -46px -64px;
		    }
	    }
	    .sm-youtube {
	    	background-position: -92px 0;
			    
		    &:hover {
		    	background-position: -92px -64px;
		    }
	    }
	    .sm-linkedin {
	    	background-position: -138px 0;
			    
		    &:hover {
		    	background-position: -138px -64px;
		    }
	    }
	    .sm-googleplus {
	    	background-position: -184px 0;
			    
		    &:hover {
		    	background-position: -184px -64px;
		    }
	    }
    }
}
.modal {
	.modal-content {
		.modal-footer {
			text-align: left;
		}
	}
}

//iPad landscape
@media screen and (max-width: 1024px) {
	header {

	    @include drop-shadow;

	    #desktop-nav {
	    	display: none;
	    }
		#mobile-nav {
			display: block;
	    }
	}
}

//iPad portrait
@media screen and (max-width: 768px) {

}

//iPhone 6 landscape
@media screen and (max-width: 736px) {
	
}

//iPhone 6 portrait
@media screen and (max-width: 420px) {
	#testimonials {
		.border {
			border: none !important;
			height: 0;
		}
	}
}
