@import "path.scss";
@import "colors.scss";

//page indicator
header #desktop-nav .bottom-nav ul.navbar-nav li:first-child a {
    color: $link-hover;
}
#hero {
	background: url($hero-home + 'hero-home.jpg' + $parameter) center no-repeat;
	background-size: cover;
}

#types {
	.border {
		border: 1px solid $border-color;
		padding: 40px;

		.no-color-row, .light-gold, .dark-gold {
			padding: 10px 0 0;
		}
		.dark-gold {
			margin-bottom: 10px;

			div {
				padding: 30px 20px;
			}
			.lighter {
				background: #fdcb18;
			}
			.darker {
				background: #f5bd00;
			}

		}
		.light-gold {
			background: #fff9da;
		}

	}
}

#anchored {
	.white-bg {
		padding: 40px;
		.col-xs-12 {
			margin-bottom: 20px;
		}
	}
	.blue-bg {
		padding-left: 0;
		margin-bottom: 0;

		.col-xs-4, .col-lg-2, .col-xs-12 {
			padding-left: 0;
			margin-bottom: 0;
		}
		h2 {
			margin: 15px 0;
		}
	}
}


//iPad landscape
@media screen and (max-width: 1024px) {

}

//iPad portrait
@media screen and (max-width: 768px) {
	#testimonials {
		.one-video {
			.video img {
				margin: 0 auto 30px;
			}
		}
	}

}

//iPhone 6 landscape
@media screen and (max-width: 736px) {
	#anchored {
		img {
			margin: 0 auto;
		}

		.blue-bg {
			h2 {
				margin: 5px 0;
				font-size: 24px;
			}
			p {
				line-height: 24px;
			}
		}
	}
}

//iPhone 6 portrait
@media screen and (max-width: 420px) {

}