@import "path.scss";
@import "colors.scss";

//page indicator
header #desktop-nav .bottom-nav ul.navbar-nav li:nth-child(3) a {
    color: $link-hover;
}
#hero {
	background: url($hero-mixed + "hero-mixed.jpg" + $parameter) center no-repeat;
	background-size: cover;
	margin-top: 118px;
	padding: 70px 0;
}
#do-you {
	h2 {
		text-align: center;
	}
	li {
		span {
		    margin: 0 15px 0 -32px;
		}
	}
}
#conductive, #mixed {
	li {
		list-style: disc;
	}
}
#system {
	button {
		margin-top: 100px;
	}
}
#baha-difference {
	.accordion-header, .accordion-body {
		overflow: hidden;
	}
	.accordion-body {
		margin-top: -5px;
		background: #ebe9e7;
		li {
			background: url($checkmark + 'list-checkmark.png' + $parameter) no-repeat;
		    padding: 0 0 0 60px;
		    font-size: 15px;
		    list-style: none;
		}
	}
	.button {
		text-align: center;
		margin-top: 50px;
	}
}
//iPad landscape
@media screen and (max-width: 1024px) {
	#hero {
		margin-top: 78px;
		padding: 200px 0 100px;
	}
}

//iPad portrait
@media screen and (max-width: 768px) {

}

//iPhone 6 landscape
@media screen and (max-width: 736px) {
	#conductive, #mixed, #system {
		img {
			margin: 0 auto;
		}
	}
	#system, #baha-difference, #testimonials {
		button {
			width: 100%;
		}
	}
	#baha-difference, #testimonials {
		button {
			margin-top: 40px;
		}
	}
	#testimonials {
		.visible-xs {
			.video {
				margin: 30px 0;
			}
		}
	}
}

//iPhone 6 portrait
@media screen and (max-width: 420px) {

	#baha-difference {

		.accordion-header {
			h2 {
				padding-top: 10px;
				font: normal 28px/30px 'Conv_Bliss Pro Regular';
			}
		}
		.accordion-body ul {
			padding: 0;

			li {
				padding: 0 0 0 40px;
			}
		}
	}
}