//Links Sass Variables

/*Local Path Variable */

//fonts

$blissProReg: "../fonts/";
$blissWoff: "../fonts/";
$blissTtg: "../fonts/";
$blissSvg: "../fonts/";

$blissBoldEot: "../fonts/";
$blissBoldWoff: "../fonts/";
$blissBoldTtg: "../fonts/";
$blissBoldSvg: "../fonts/";

$hero-home: "../images/";
$hero-ssd: "../images/";
$hero-mixed: "../images/";
$hero-baha: "../images/";
$socialPath: "../images/";
$grey-wave: "../images/";
$checkmark: "../images/";
$play-btn: "../images/";
$bg-video-section: "../images/";

$parameter: "";


/* Server Path Variables */



// $blissProReg: "/wps/wcm/connect/17628f8b-bcf2-4775-907f-6766d3ba927e/";
// $blissWoff: "/wps/wcm/connect/494cc2c2-9992-45f5-98dc-14415ab4ef56/";
// $blissTtg: "/wps/wcm/connect/d6adf35f-9e27-4593-acab-69f6c4324459/";
// $blissSvg: "/wps/wcm/connect/fc5aefda-5c7d-4d60-93bc-d19f68f7a01f/";

// $blissBoldEot: "/wps/wcm/connect/8599370a-98fb-4e03-be84-a2b0fd33cf08/";
// $blissBoldWoff: "/wps/wcm/connect/72d07163-1dfa-46fa-a914-40e3a9bf0e9a/";
// $blissBoldTtg: "/wps/wcm/connect/6ed738b1-eea8-4c6e-b7fe-7153e3880ccc/";
// $blissBoldSvg: "/wps/wcm/connect/80c8a104-d617-4cd7-a5ab-3eb3f740280d/";

// $hero-home: "/wps/wcm/connect/e6946bd4-8742-42c6-b293-fcebda419323/";
// $hero-ssd: "/wps/wcm/connect/a5a7b683-34dd-43ff-b157-d17980891190/";
// $hero-mixed: "/wps/wcm/connect/d5a32da4-77a5-4978-8f68-f8b98c07c86a/";
// $hero-baha: "/wps/wcm/connect/37fbea83-634b-445f-aa32-bcd66e849ed1/";
// $socialPath: "/wps/wcm/connect/ee25d158-7b13-43d2-b8ff-72d94fdabc51/";
// $grey-wave: "/wps/wcm/connect/7304396a-da16-4f2a-9837-b6b6b79896ab/";
// $checkmark: "/wps/wcm/connect/09b3bf68-0941-40b1-b507-fd3b203ff7df/";
// $play-btn: "/wps/wcm/connect/ca11b2b4-d411-4495-9f91-c19099199267/";
// $bg-video-section: "/wps/wcm/connect/2e9866a2-1beb-498e-8db0-6b2ed4d89cc8/";

// $parameter: "?MOD=AJPERES";
