@import "path.scss";
@import "colors.scss";

//page indicator
header #desktop-nav .bottom-nav ul.navbar-nav li:nth-child(2) a {
    color: $link-hover;
}
#hero {
	margin-top: 120px;
	background: url($hero-ssd + 'hero-baha-indications.jpg' + $parameter) center no-repeat;
	background-size: cover;

	.name {
		color: $text;
	}
}
#understanding {
	background: $gold;

	li {
		margin: 5px 0;
	}
	.story-container {
		clear: both;
		margin-bottom: 40px;
		overflow: hidden;

		img, p {
			float: left;
		}
		img {
			margin-right: 15px;
			border-radius: 50%;
		}
		p {
			margin-top: 40px;
		}
	}
}
.intro {
	text-align: center;
	margin-bottom: 40px;
}
#two-ears {
	.accordion-header, .accordion-body {
		background: $white;
		overflow: hidden;
	}
	.accordion-body {
		margin-top: -5px;
	}

}
#awareness {
	background: url($grey-wave + 'bg-grey-wave.png' + $parameter);

	h2 {
		text-align: center;
	}
}
#baha-difference {
	.accordion-header, .accordion-body {
		overflow: hidden;
	}
	.accordion-body {
		margin-top: -5px;
		background: #ebe9e7;
		li {
			background: url($checkmark + 'list-checkmark.png' + $parameter) no-repeat;
		    padding: 0 0 0 60px;
		    font-size: 15px;
		    list-style: none;
		}
	}
	button, .button {
		text-align: center;
		margin-top: 50px;
	}
}
#testimonials-ssd {

	h2 {
		margin-bottom: 50px;
	}
	img {
		width: 100%;
		height: 100%;
	}
	.btn-play {
		background: url($play-btn + 'btn-play.png' + $parameter) top center;
	    position: absolute;
	    width: 95%;
	    height: 100%;
	    top: 0;
	    background-size: contain;
	    cursor: pointer;

	    &:hover {
	    	opacity: .5;
	    }
	}
	.bio {
		margin: 0 0 50px;
	}
	.videos {
		margin-bottom: 40px;
	}
	.button {
		text-align: center;
	}

}
#legal {
	border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
}

//iPad landscape
@media screen and (max-width: 1024px) {
	#hero {
		margin-top: 78px;
	}
}

//iPad portrait
@media screen and (max-width: 768px) {

}

//iPhone 6 landscape
@media screen and (max-width: 736px) {

	#hero {
		h1, p {
			color: $white;
		}
	}
	#baha {
		img {
			margin: 40px auto 0;
		}
	}

	#testimonials-ssd {

		h2 {
			margin: 50px 0 0;
		}
	}
}

//iPhone 6 portrait
@media screen and (max-width: 420px) {

	#hero {
		.name {
			color: $white;
		}
	}
	#two-ears, #baha-difference {
		.accordion-header {
			h2 {
				padding-top: 10px;
				font: normal 28px/30px 'Conv_Bliss Pro Regular';
			}
		}
	}
	#baha-difference {

		.accordion-body {
			ul {
				padding: 0;
				li {
				    padding: 0 0 0 40px;

				    ul {
				    	margin-top: 40px;
				    }
				}			
			}
		}
		button, .button {
			text-align: center;
			margin-top: 50px;
		}
	}
}