@import "colors.scss";

#journey {
	text-align: center;
	margin-top: 148px;

	h2, h3, p {
		font: italic 36px/32px 'arial';
	}
	h3, p {
		font-size: 26px;
		font-style: normal;
	}
	p {
		font-size: 22px;
	}
}
#steps {
	padding: 80px 0;

	#stepsCarousel {

		.carousel-inner {
			.left-step, .right-step {
				padding-top: 70px;
				height: 400px;
				p, h2 {
					margin: 0 50px;
					font-style: italic;
				}
				p {
					font: italic 22px/30px 'arial';
				}
			}
			.left-step {
				background: $gold;
			}
			.right-step {
				background: $box-bg;

				h2 {
					margin-bottom: 20px;
				}
			}
		}

		.carousel-indicators {
			bottom: -50px;
			left: 0;
			margin: 0 auto;
			width: 100%;

			li {
			    text-indent: 0;
			    width: 60px;
			    margin-right: 40px;
			    background: none;
			    border: none;
			    font-size: 20px;
			    height: 30px;
			    border-radius: 0;

			    &:hover {
			    	border-bottom: 3px $gold solid;
			    }
			}
			.active {
			    	border-bottom: 3px $gold solid;
			}
			li:last-child {
				margin-right: 0;
			}
		}

		.left, .right {
			background-image: none;
			opacity: 1;

			&:hover {
				opacity: .5;
			}

			.glyphicon {
				    margin-top: 135px;
				    color: $text;
				    background: $white;
				    padding: 10px;
				    border-radius: 21px;
				    width: 46px;
				    height: 44px;
				    font-size: 22px;
			}
		}
	}
}
#help {
	.cta-box {
		background: $box-bg;
		padding: 10px 15px 30px;
		text-align: center;
		margin-top: 40px;

		img {
			margin: 20px 0;
		}
		.gold-btn {
			margin-bottom: 15px;
		}
	}
	.connect img {
		margin-bottom: 82px;
	}
	.contact img {
		margin-bottom: 40px;
	}
	.watch img {
		margin-bottom: 58px;
	}
}

//iPad landscape
@media screen and (max-width: 1024px) {
	#journey {
		margin-top: 110px;
	}
}

//iPad portrait
@media screen and (max-width: 768px) {

}

//iPhone 6 landscape
@media screen and (max-width: 736px) {

}

//iPhone 6 portrait
@media screen and (max-width: 420px) {

}