//Fonts
@font-face {
	font-family: 'Conv_Bliss Pro Regular';
	src: url($blissProReg + "Bliss+Pro+Regular.eot" + $parameter);
	src: local('☺'), url($blissWoff + "Bliss+Pro+Regular.woff" + $parameter) format('woff'), url($blissTtg + "Bliss+Pro+Regular.ttf" + $parameter) format('truetype'), url($blissSvg + "Bliss+Pro+Regular.svg" + $parameter) format('svg');
	font-weight: normal;
	font-style: normal;
}
 @font-face {
	font-family: 'Conv_Bliss Pro Bold';
	src: url($blissBoldEot + "Bliss+Pro+Bold.eot" + $parameter);
	src: local('☺'), url($blissBoldWoff + "Bliss+Pro+Bold.woff" + $parameter) format('woff'), url($blissBoldTtg + "Bliss+Pro+Bold.ttf" + $parameter) format('truetype'), url($blissBoldSvg + "Bliss+Pro+Bold.svg" + $parameter) format('svg');
	font-weight: normal;
	font-style: normal;
}

@mixin font-regular() {
	font-family: 'Conv_Bliss Pro Regular', Arial, Helvetica, sans-serif;
}
@mixin font-bold() {
	font-family: 'Conv_Bliss Pro Bold', Arial, Helvetica, sans-serif;
}

// Body

body {
	position: relative;
	@include font-regular();
	color: $text;
	padding-top: 115px;

	@media (min-width: 992px) {
		padding-top: 171px;
	}
}

strong {
	@include font-bold();
}