// Colors
$gold: #ffc500;
$gold-hover: lighten(#ffc500, 10%);
$white: #fff;
$white-hover: #e6e6e6;
$text: #666;
$grey-bg: #f5f5f5;
$light-blue: #2a84c2;
$hero-blue: #005d98;
$blue: #29318b;
$blue-text: #28378c;
$sep: #cdc4c0;