//Links Sass Variables

/*Local Path Variable */

//fonts

$blissProReg: "../fonts/";
$blissWoff: "../fonts/";
$blissTtg: "../fonts/";
$blissSvg: "../fonts/";

$blissBoldEot: "../fonts/";
$blissBoldWoff: "../fonts/";
$blissBoldTtg: "../fonts/";
$blissBoldSvg: "../fonts/";


$socialPath: "../images/";
$hero: "../images/";

$parameter: "";


/* Server Path Variables */



// $blissProReg: "/wps/wcm/connect/9c81d744-46c7-44c1-8abf-af2043dea8af/";
// $blissWoff: "/wps/wcm/connect/390e2c8b-cec6-413e-993c-d13e35fe1d3f/";
// $blissTtg: "/wps/wcm/connect/faf05755-c054-4eb5-b365-4c43acae495e/";
// $blissSvg: "/wps/wcm/connect/70b525d9-75bc-44f5-a66a-7bf9c2ed568b/";

// $blissBoldEot: "/wps/wcm/connect/213cb7f7-05cf-4e7d-87c4-5f4bb7e2cb81/";
// $blissBoldWoff: "/wps/wcm/connect/5d019560-6046-4c26-abdf-4ad24af73a4c/";
// $blissBoldTtg: "/wps/wcm/connect/22b57950-c4a1-42ec-8fc8-100d774955ce/";
// $blissBoldSvg: "/wps/wcm/connect/f20d3713-eb94-4bc8-ad5f-693d76682145/";


// $socialPath: "/wps/wcm/connect/f0e1596a-8162-4115-8cf1-be73aeb805dd/";
// $hero: "/wps/wcm/connect/8a32c974-a1fe-44f8-9af7-c85c14be8bb4/";


// $parameter: "?MOD=AJPERES";
