@charset "UTF-8";
/*Local Path Variable */
/* Server Path Variables */
@font-face {
  font-family: 'Conv_Bliss Pro Regular';
  src: url("../fonts/Bliss+Pro+Regular.eot");
  src: local("☺"), url("../fonts/Bliss+Pro+Regular.woff") format("woff"), url("../fonts/Bliss+Pro+Regular.ttf") format("truetype"), url("../fonts/Bliss+Pro+Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Conv_Bliss Pro Bold';
  src: url("../fonts/Bliss+Pro+Bold.eot");
  src: local("☺"), url("../fonts/Bliss+Pro+Bold.woff") format("woff"), url("../fonts/Bliss+Pro+Bold.ttf") format("truetype"), url("../fonts/Bliss+Pro+Bold.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

body {
  position: relative;
  font-family: 'Conv_Bliss Pro Regular', Arial, Helvetica, sans-serif;
  color: #666;
  padding-top: 115px;
}

@media (min-width: 992px) {
  body {
    padding-top: 171px;
  }
}

strong {
  font-family: 'Conv_Bliss Pro Bold', Arial, Helvetica, sans-serif;
}

@media (max-width: 991px) {
  .navbar-header {
    float: none;
  }
  .navbar-left, .navbar-right {
    float: none !important;
  }
  .navbar-toggle {
    display: block;
  }
  .navbar-collapse {
    border-top: 1px solid transparent;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
            box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  }
  .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
    display: none !important;
  }
  .navbar-nav {
    float: none !important;
    margin-top: 7.5px;
  }
  .navbar-nav > li {
    float: none;
  }
  .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .collapse.in {
    display: block !important;
  }
}

@media (min-width: 768px) {
  header {
    padding-bottom: 15px;
  }
}

header .navbar {
  background: #fff;
  border-bottom: 1px solid #fff;
  margin-bottom: 0;
}

@media (min-width: 768px) {
  header .navbar {
    margin-bottom: 25px;
  }
}

@media (min-width: 768px) {
  header .navbar .navbar-brand {
    float: none;
  }
}

@media (min-width: 768px) {
  header .navbar .navbar-header {
    float: none;
    opacity: 1;
    height: auto;
  }
}

@media (min-width: 768px) {
  header .navbar .nav {
    padding-top: 0;
  }
}

header .navbar.shrink {
  border-bottom: 1px solid #eee;
}

@media (min-width: 768px) {
  header .navbar.shrink .navbar-header {
    opacity: 0;
    height: 0;
  }
}

@media (min-width: 768px) {
  header .navbar.shrink .nav {
    padding-top: 10px;
  }
}

header .navbar-toggle {
  margin-top: 30px;
  margin-bottom: 50px;
  border-color: #d2d2d2;
}

header .navbar-toggle .icon-bar {
  background-color: #d2d2d2;
}

@media (min-width: 992px) {
  header .navbar-collapse {
    padding: 0;
  }
}

@media (max-width: 991px) {
  header .navbar-collapse.in, header .navbar-collapse.collapsing {
    max-height: 400px;
    padding-top: 15px;
    background: #f7f7f7;
  }
}

@media (max-width: 991px) {
  header .navbar-collapse.in .nav > li, header .navbar-collapse.collapsing .nav > li {
    float: none;
    text-align: center;
  }
}

header .nav {
  margin-bottom: 15px;
}

header .nav > li {
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 992px) {
  header .nav > li {
    padding-left: 8px;
    padding-right: 8px;
  }
}

@media (min-width: 1200px) {
  header .nav > li {
    padding-left: 15px;
    padding-right: 15px;
  }
}

header .nav > li:first-child {
  padding-left: 0;
}

header .nav > li > a {
  font-family: 'Conv_Bliss Pro Bold', Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: #666;
  padding-left: 0;
  padding-right: 0;
  border-radius: 0;
  border-bottom: 1px solid transparent;
}

@media (min-width: 992px) {
  header .nav > li > a {
    font-size: 15px;
  }
}

@media (min-width: 1200px) {
  header .nav > li > a {
    font-size: 16px;
  }
}

header .nav > li > a:hover, header .nav > li > a:focus {
  color: #666;
  border-bottom: 1px solid #ffc500;
  background-color: transparent;
}

header .nav > li.active a {
  color: #666;
  border-bottom: 1px solid #ffc500;
  background-color: transparent;
}

header .nav > li.active a:hover, header .nav > li.active a:focus {
  color: #666;
  background-color: transparent;
}

section {
  padding: 30px 0;
}

section h2 {
  margin: 10px 0 20px 0;
  line-height: 1.3;
}

section h3 {
  margin: 10px 0 20px 0;
  font-size: 30px;
  line-height: 1.3;
}

section p {
  font-size: 16px;
  line-height: 1.7;
}

section ol, section ul {
  margin-bottom: 30px;
}

section ol li, section ul li {
  font-size: 16px;
  line-height: 1.7;
  margin-bottom: 10px;
}

section blockquote {
  border: none;
  padding: 10px 40px;
}

.hero-section {
  padding: 0;
  min-height: 500px;
}

@media (min-width: 768px) {
  .hero-section {
    background: #005d98 url("../images/hero-celebration-2019.jpg") no-repeat;
    background-position: center;
    background-size: cover;
  }
}

.hero-section .hero-mobile {
  height: 300px;
  background: #005d98 url("../images/hero-celebration-2019.jpg") no-repeat;
  background-position: 18% center;
  background-size: cover;
}

.hero-section h1 {
  font-family: 'Conv_Bliss Pro Bold', Arial, Helvetica, sans-serif;
  color: #28378c;
  font-size: 40px;
  line-height: 1.1;
  text-align: center;
  padding-top: 30px;
  margin-bottom: 40px;
}

.hero-section .hero-content {
  background: #fff;
}

@media (min-width: 768px) {
  .hero-section .hero-content {
    min-height: 500px;
  }
}

.hero-section .hero-content-inner {
  padding: 20px;
}

.hero-section .yellow-cta {
  position: relative;
  margin: 0 -35px 70px -70px;
  padding: 10px 20px 15px 20px;
  font-family: 'Conv_Bliss Pro Bold', Arial, Helvetica, sans-serif;
  color: #fff;
  font-size: 30px;
  line-height: 1.1;
  text-align: center;
  border-bottom-left-radius: 15px;
  background: #ffc500;
}

.hero-section p {
  font-size: 18px;
  line-height: 1.4;
  text-align: center;
}

.hero-section .btn-primary {
  font-size: 20px;
  line-height: 1.1;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 14px;
  margin: 40px 0;
  border-bottom-left-radius: 15px;
  background: #29318b;
}

.section-information h2 {
  margin-bottom: 75px;
}

.section-information .intro-text {
  font-size: 19px;
  margin-bottom: 25px;
  padding-bottom: 25px;
  border-bottom: 1px solid #cdc4c0;
}

.section-information blockquote p {
  color: #28378c;
  font-weight: bold;
}

.section-celebration {
  background: #f5f5f5;
}

.section-celebration h3 {
  font-size: 34px;
}

.section-celebration .video-link {
  display: block;
  padding: 10px 0;
  color: #29318b;
  font-family: 'Conv_Bliss Pro Bold', Arial, Helvetica, sans-serif;
  font-size: 22px;
  border-top: 1px solid #cdc4c0;
  border-bottom: 1px solid #cdc4c0;
}

.section-celebration .embed-responsive {
  margin-top: 20px;
}

.section-glance {
  padding: 0;
}

.section-glance .section-inner-1 {
  padding: 30px 0 10px 0;
}

.section-glance .section-inner-2 {
  padding: 10px 0 30px 0;
}

.section-glance h3 {
  font-size: 28px;
}

.section-glance .next-steps {
  color: #fff;
  padding: 10px 20px;
  margin-bottom: 30px;
  background: #968e87;
}

.section-glance .next-steps h4 {
  font-size: 24px;
  margin-bottom: 20px;
}

.section-glance .next-steps a.btn {
  padding: 16px 20px;
  margin-right: 10px;
  border-color: #253082;
  background: #253082;
}

.section-glance .next-steps a.btn strong {
  font-size: 24px;
  display: inline-block;
  margin-right: 5px;
}

.section-glance .next-steps a.btn span {
  display: inline-block;
  font-size: 16px;
  font-weight: 400;
  margin-left: 5px;
}

.section-glance .next-steps .next-btn-1:before, .section-glance .next-steps .next-btn-2:before {
  color: #253082;
  font-size: 20px;
  display: block;
  width: 28px;
  height: 28px;
  float: left;
  margin: 2px 15px 0 0;
  font-family: 'Conv_Bliss Pro Bold', Arial, Helvetica, sans-serif;
  background: #fff;
  border-radius: 28px;
}

.section-glance .next-steps .next-btn-1:before {
  content: '1';
}

.section-glance .next-steps .next-btn-2:before {
  content: '2';
}

.section-glance .next-steps .membership-text {
  padding-top: 10px;
}

.section-glance .next-steps a.p-link {
  color: #fff;
  text-decoration: underline;
}

.section-glance .at-a-glance {
  background: #28378c;
}

.section-glance .at-a-glance h5 {
  font-size: 20px;
  line-height: 1.1;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 14px;
  margin: 0 25px 10px 25px;
  border-bottom-left-radius: 15px;
  background: #fff;
}

.section-glance .at-a-glance h6 {
  font-family: 'Conv_Bliss Pro Bold', Arial, Helvetica, sans-serif;
  font-size: 18px;
  margin: 0 0 5px 0;
}

.section-glance .at-a-glance p {
  margin: 0;
  font-size: 15px;
}

.section-glance .at-a-glance ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.section-glance .at-a-glance ul li {
  color: #fff;
  padding: 15px 30px;
}

.section-glance .at-a-glance ul li.agenda-li {
  font-size: 16px;
  padding: 30px 30px 60px 30px;
}

.section-glance .at-a-glance ul li.agenda-li a {
  font-family: 'Conv_Bliss Pro Bold', Arial, Helvetica, sans-serif;
  color: #fff;
  text-decoration: underline;
}

.section-glance .at-a-glance ul li:nth-child(odd) {
  background: #28378c;
}

.section-glance .at-a-glance ul li:nth-child(even) {
  background: #253082;
}

.section-kids {
  padding: 0;
  background: #f5f5f5;
}

.section-kids .section-inner {
  padding: 30px 0;
}

.section-kids h3 {
  font-family: 'Conv_Bliss Pro Bold', Arial, Helvetica, sans-serif;
  color: #28378c;
  font-size: 26px;
}

.section-kids hr {
  margin-top: 30px;
  margin-bottom: 30px;
  border-color: #cdc4c0;
}

.section-kids .past-events-sidebar {
  padding: 30px;
  background: #fff;
  border-top: 10px solid #28378c;
  border-bottom: 15px solid #f5f5f5;
}

@media (min-width: 768px) {
  .section-kids .past-events-sidebar {
    border-bottom: 1px solid #f5f5f5;
  }
}

.section-kids .past-events-sidebar h3 {
  font-size: 22px;
}

.section-kids .past-events-sidebar a {
  color: #666;
  text-decoration: underline;
}

.section-testimonials > .container > .row {
  position: relative;
}

.section-testimonials > .container > .row:before {
  position: absolute;
  content: '“';
  display: block;
  color: #ffc500;
  font-size: 60px;
}

.section-testimonials > .container > .row:after {
  position: absolute;
  content: '”';
  display: block;
  margin-top: 130px;
  right: 0;
  color: #ffc500;
  font-size: 60px;
}

.section-testimonials blockquote {
  margin-top: 20px;
}

.section-testimonials blockquote footer {
  font-family: 'Conv_Bliss Pro Bold', Arial, Helvetica, sans-serif;
  font-size: 16px;
}

.section-resort {
  padding-bottom: 60px;
  background: #f5f5f5;
}

.section-resort .img-responsive {
  margin-top: 20px;
}

.section-resort .section-inner {
  padding: 0 45px 0 25px;
}

.section-resort address {
  margin: 20px 0;
  line-height: 1.7;
}

.section-register {
  color: #fff;
  padding-bottom: 60px;
  background: #29318b;
}

.section-register .btn-primary {
  color: #666;
  font-size: 20px;
  line-height: 1.1;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 14px;
  margin: -30px 10% 40px 10%;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 15px;
  border: none;
  background: #f5f5f5;
}

.section-register h3 {
  clear: both;
  margin-left: 10%;
  margin-right: 10%;
  font-size: 60px;
  line-height: 1;
}

@media (min-width: 768px) {
  .section-register h3 {
    float: right;
    margin-left: 0;
  }
}

.section-register h3:after {
  content: "";
  display: table;
  clear: both;
}

.section-register h3 .text-content {
  float: left;
}

.section-register h3 .glyphicon {
  float: left;
  font-size: 100px;
  margin-top: 50px;
}

.section-register h4 {
  font-size: 22px;
  margin-top: 80px;
}

.section-register ol {
  margin-top: 20px;
}

.section-register ol li {
  font-size: 18px;
}

.section-register ol li a {
  color: #fff;
  text-decoration: underline;
}

.section-advantage {
  color: #000;
  background: #ffc500;
  padding-top: 35px;
}

.section-advantage h4 {
  font-family: 'Conv_Bliss Pro Bold', Arial, Helvetica, sans-serif;
  font-size: 48px;
  text-align: center;
}

.section-advantage .section-advantage-inner {
  padding-top: 30px;
}

.section-explore {
  background: #f5f5f5;
  padding: 30px 0 60px 0;
}

.section-explore .img-responsive {
  margin-top: 30px;
}

footer.page-footer {
  padding: 50px 0;
  background: #fff;
}

footer.page-footer ul {
  padding: 0;
}

footer.page-footer ul li {
  display: inline-block;
  margin-right: 10px;
}

footer.page-footer ul li a {
  color: #d2d2d2;
}

footer.page-footer .social-media {
  float: right;
}

footer.page-footer .social-media a {
  display: block;
  width: 36px;
  height: 36px;
  padding: 0;
  background: url("../images/icons-social-media.png") 0 0 no-repeat;
}

footer.page-footer .social-media a:hover {
  background-position: 0 -64px;
  background-color: #fff;
}

footer.page-footer .social-media .sm-twitter {
  background-position: -46px 0;
}

footer.page-footer .social-media .sm-twitter:hover {
  background-position: -46px -64px;
}

footer.page-footer .social-media .sm-youtube {
  background-position: -92px 0;
}

footer.page-footer .social-media .sm-youtube:hover {
  background-position: -92px -64px;
}

footer.page-footer .social-media .sm-linkedin {
  background-position: -138px 0;
}

footer.page-footer .social-media .sm-linkedin:hover {
  background-position: -138px -64px;
}

footer.page-footer .social-media .sm-googleplus {
  background-position: -184px 0;
}

footer.page-footer .social-media .sm-googleplus:hover {
  background-position: -184px -64px;
}

.footnotes {
  margin: 0 0 50px 0;
  padding: 0 0 0 10px;
}

.footnotes li {
  color: #999;
  font-size: 11px;
  line-height: 1.2;
  margin-bottom: 8px;
}

.small-sup {
  font-size: 13px;
  margin-left: 3px;
}
