@import "_path.scss";
@import "_colors.scss";
@import "_base.scss";

// Header

// Change main menu collapse breakpoint
@media (max-width: 991px) {
	.navbar-header {
		float: none;
	}
	.navbar-left,.navbar-right {
		float: none !important;
	}
	.navbar-toggle {
		display: block;
	}
	.navbar-collapse {
		border-top: 1px solid transparent;
		box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
	}
	.navbar-fixed-top {
		top: 0;
		border-width: 0 0 1px;
	}
	.navbar-collapse.collapse {
		display: none !important;
	}
	.navbar-nav {
		float: none !important;
		margin-top: 7.5px;
	}
	.navbar-nav>li {
		float: none;
	}
	.navbar-nav>li>a {
		padding-top: 10px;
		padding-bottom: 10px;
	}
	.collapse.in{
		display: block !important;
	}
}

header {
	@media (min-width: 768px) {
		padding-bottom: 15px;
	}

	.navbar {
		background: $white;
		border-bottom: 1px solid $white;
		margin-bottom: 0;

		@media (min-width: 768px) {
			margin-bottom: 25px;
		}

		.navbar-brand {
			@media (min-width: 768px) {
				float: none;
			}
		}

		.navbar-header {
			@media (min-width: 768px) {
				float: none;
				opacity: 1;
				height: auto;
			}	
		}

		.nav {
			@media (min-width: 768px) {
				padding-top: 0;
			}
		}

		&.shrink {
			border-bottom: 1px solid #eee;

			.navbar-header {
				@media (min-width: 768px) {
					opacity: 0;
					height: 0;
				}
			}

			.nav {
				@media (min-width: 768px) {
					padding-top: 10px;
				}
			}
		}
	}

	.navbar-toggle {
		margin-top: 30px;
		margin-bottom: 50px;
		border-color: #d2d2d2;

		.icon-bar {
			background-color: #d2d2d2;
		}
	}

	.navbar-collapse {
		@media (min-width: 992px) {
			padding: 0;
		}

		&.in, &.collapsing {
			@media (max-width: 991px) {
				max-height: 400px;
				// border-top: 1px solid #d2d2d2;
				// border-bottom: 1px solid #d2d2d2;
				padding-top: 15px;
				background: #f7f7f7;
			}

			.nav {
				> li {

					@media (max-width: 991px) {
						float: none;
						text-align: center;
					}

				}
			}
		}
	}

	.nav {
		margin-bottom: 15px;

		> li {
			padding-left: 15px;
			padding-right: 15px;

			@media (min-width: 992px) {
				padding-left: 8px;
				padding-right: 8px;
			}

			@media (min-width: 1200px) {
				padding-left: 15px;
				padding-right: 15px;
			}

			&:first-child {
				padding-left: 0;
			}

			> a {
				@include font-bold();
				font-size: 16px;
				color: $text;
				padding-left: 0;
				padding-right: 0;
				border-radius: 0;
				border-bottom: 1px solid transparent;

				@media (min-width: 992px) {
					font-size: 15px;
				}

				@media (min-width: 1200px) {
					font-size: 16px;
				}

				&:hover, &:focus {
					color: $text;
					border-bottom: 1px solid $gold;
					background-color: transparent;
				}
			}

			&.active {
				a {
					color: $text;
					border-bottom: 1px solid $gold;
					background-color: transparent;

					&:hover, &:focus {
						color: $text;
						background-color: transparent;
					}
				}
			}
		}
	}
}


// Sections

section {
	padding: 30px 0;

	h2 {
		margin: 10px 0 20px 0;
		line-height: 1.3;
	}

	h3 {
		margin: 10px 0 20px 0;
		font-size: 30px;
		line-height: 1.3;
	}

	p {
		font-size: 16px;
		line-height: 1.7;
	}

	ol, ul {
		margin-bottom: 30px;

		li {
			font-size: 16px;
			line-height: 1.7;
			margin-bottom: 10px;
		}
	}

	blockquote {
		border: none;
		padding: 10px 40px;
	}
}


// Hero

.hero-section {
	padding: 0;
	min-height: 500px;

	@media (min-width: 768px) {
		background: $hero-blue url('../images/hero-celebration-2019.jpg') no-repeat;
		background-position: center;
		background-size: cover;
	}

	.hero-mobile {
		height: 300px;
		background: $hero-blue url('../images/hero-celebration-2019.jpg') no-repeat;
		background-position: 18% center;
		background-size: cover;
	}

	h1 {
		@include font-bold();
		color: $blue-text;
		font-size: 40px;
		line-height: 1.1;
		text-align: center;
		padding-top: 30px;
		margin-bottom: 40px;
	}

	.hero-content {
		background: $white;

		@media (min-width: 768px) {
			min-height: 500px;
		}
	}

	.hero-content-inner {
		padding: 20px;
	}

	.yellow-cta {
		position: relative;
		margin: 0 -35px 70px -70px;
		padding: 10px 20px 15px 20px;
		@include font-bold();
		color: $white;
		font-size: 30px;
		line-height: 1.1;
		text-align: center;
		border-bottom-left-radius: 15px;
		background: $gold;
	}

	p {
		font-size: 18px;
		line-height: 1.4;
		text-align: center;
	}

	.btn-primary {
		font-size: 20px;
		line-height: 1.1;
		text-align: center;
		padding-top: 10px;
		padding-bottom: 14px;
		margin: 40px 0;
		border-bottom-left-radius: 15px;
		background: $blue;
	}
}


// Event information

.section-information {
	h2 {
		margin-bottom: 75px;
	}

	.intro-text {
		font-size: 19px;
		margin-bottom: 25px;
		padding-bottom: 25px;		
		border-bottom: 1px solid $sep;
	}

	blockquote {
		p {
			color: $blue-text;
			font-weight: bold;
		}
	}
}


// What is celebration

.section-celebration {
	background: $grey-bg;

	h3 {
		font-size: 34px;
	}

	.video-link {
		display: block;
		padding: 10px 0;
		color: $blue;
		@include font-bold();
		font-size: 22px;
		border-top: 1px solid $sep;
		border-bottom: 1px solid $sep;
	}

	.embed-responsive {
		margin-top: 20px;
	}
}


// At a glance

.section-glance {
	padding: 0;

	.section-inner-1 {
		padding: 30px 0 10px 0;
	}

	.section-inner-2 {
		padding: 10px 0 30px 0;
	}

	h3 {
		font-size: 28px;
	}

	.next-steps {
		color: $white;
		padding: 10px 20px;
		margin-bottom: 30px;
		background: #968e87;

		h4 {
			font-size: 24px;
			margin-bottom: 20px;
		}

		a.btn {
			padding: 16px 20px;
			margin-right: 10px;
			border-color: #253082;
			background: #253082;
			
			strong {
				font-size: 24px;
				display: inline-block;
				margin-right: 5px;
			}

			span {
				display: inline-block;
				font-size: 16px;
				font-weight: 400;
				margin-left: 5px;
			}
		}

		.next-btn-1, .next-btn-2 {
			&:before {
				color: #253082;
				font-size: 20px;
				display: block;
				width: 28px;
				height: 28px;
				float: left;
				margin: 2px 15px 0 0;
				@include font-bold();
				background: $white;
				border-radius: 28px;
			}
		}

		.next-btn-1:before {
			content: '1';
		}

		.next-btn-2:before {
			content: '2';
		}

		.membership-text {
			padding-top: 10px;
		}

		a.p-link {
			color: $white;
			text-decoration: underline;
		}
	}

	.at-a-glance {
		background: #28378c;

		h5 {
			font-size: 20px;
			line-height: 1.1;
			text-align: center;
			padding-top: 10px;
			padding-bottom: 14px;
			margin: 0 25px 10px 25px;
			border-bottom-left-radius: 15px;
			background: $white;
		}

		h6 {
			@include font-bold();
			font-size: 18px;
			margin: 0 0 5px 0;
		}

		p {
			margin: 0;
			font-size: 15px;
		}

		ul {
			list-style: none;
			margin: 0;
			padding: 0;

			li {
				color: $white;
				padding: 15px 30px;

				&.agenda-li {
					font-size: 16px;
					padding: 30px 30px 60px 30px;

					a {
						@include font-bold();
						color: $white;
						text-decoration: underline;
					}
				}
			}

			li:nth-child(odd) {
				background: #28378c;
			}

			li:nth-child(even) {
				background: #253082;
			}
		}
	}
}


// For kids and teens

.section-kids {
	padding: 0;
	background: $grey-bg;

	.section-inner {
		padding: 30px 0;
	}

	h3 {
		@include font-bold();
		color: $blue-text;
		font-size: 26px;
	}

	hr {
		margin-top: 30px;
		margin-bottom: 30px;
		border-color: $sep;
	}

	.past-events-sidebar {
		padding: 30px;
		background: $white;
		border-top: 10px solid #28378c;
		border-bottom: 15px solid $grey-bg;

		@media (min-width: 768px) {
			border-bottom: 1px solid $grey-bg;
		}

		h3 {
			font-size: 22px;
		}

		a {
			color: $text;
			text-decoration: underline;
		}
	}
}


// Testimonials

.section-testimonials {
	> .container > .row {
		position: relative;

		&:before {
			position: absolute;
			content: '“';
			display: block;
			color: $gold;
			font-size: 60px;
		}

		&:after {
			position: absolute;
			content: '”';
			display: block;
			margin-top: 130px;
			right: 0;
			color: $gold;
			font-size: 60px;
		}
	}

	blockquote {
		margin-top: 20px;

		footer {
			@include font-bold();
			font-size: 16px;
		}
	}
}


// Resort

.section-resort {
	padding-bottom: 60px;
	background: $grey-bg;

	.img-responsive {
		margin-top: 20px;
	}

	.section-inner {
		padding: 0 45px 0 25px;
	}

	address {
		margin: 20px 0;
		line-height: 1.7;
	}
}


// Register

.section-register {
	color: $white;
	padding-bottom: 60px;
	background: $blue;

	.btn-primary {
		color: $text;
		font-size: 20px;
		line-height: 1.1;
		text-align: center;
		padding-top: 10px;
		padding-bottom: 14px;
		margin: -30px 10% 40px 10%;
		border-top-left-radius: 0;
		border-top-right-radius: 0;
		border-bottom-left-radius: 15px;
		border: none;
		background: $grey-bg;
	}

	h3 {
		clear: both;
		margin-left: 10%;
		margin-right: 10%;
		font-size: 60px;
		line-height: 1;

		@media (min-width: 768px) {
			float: right;
			margin-left: 0;
		}

		&:after {
			content: "";
			display: table;
			clear: both;
		}

		.text-content {
			float: left;
		}

		.glyphicon {
			float: left;
			font-size: 100px;
			margin-top: 50px;
		}
	}

	h4 {
		font-size: 22px;
		margin-top: 80px;
	}

	ol {
		margin-top: 20px;

		li {
			font-size: 18px;

			a {
				color: $white;
				text-decoration: underline;
			}
		}
	}
}


// Advantage

.section-advantage {
	color: #000;
	background: $gold;
	padding-top: 35px;

	h4 {
		@include font-bold();
		font-size: 48px;
		text-align: center;
	}

	.section-advantage-inner {
		padding-top: 30px;
	}
}


// Explore

.section-explore {
	background: $grey-bg;
	padding: 30px 0 60px 0;

	.img-responsive {
		margin-top: 30px;
	}
}


// Footer

footer.page-footer {
	padding: 50px 0;
	background: #fff;
	
	ul {
		padding: 0;

		li {
			display: inline-block;
			margin-right: 10px;

			a {
				color: #d2d2d2;
			}
		}
	}
	.social-media {
		float: right;
		a {
		    display: block;
		    width: 36px;
		    height: 36px;
		    padding: 0;
		    background: url($socialPath + "icons-social-media.png" + $parameter) 0 0 no-repeat;

			    &:hover {
			    	background-position: 0 -64px;
			    	background-color: #fff;
			    }
			}
	    .sm-twitter {
	    	background-position: -46px 0;
			    
		    &:hover {
		    	background-position: -46px -64px;
		    }
	    }
	    .sm-youtube {
	    	background-position: -92px 0;
			    
		    &:hover {
		    	background-position: -92px -64px;
		    }
	    }
	    .sm-linkedin {
	    	background-position: -138px 0;
			    
		    &:hover {
		    	background-position: -138px -64px;
		    }
	    }
	    .sm-googleplus {
	    	background-position: -184px 0;
			    
		    &:hover {
		    	background-position: -184px -64px;
		    }
	    }
    }
}

.footnotes {
	margin: 0 0 50px 0;
	padding: 0 0 0 10px;

	li {
		color: #999;
		font-size: 11px;
		line-height: 1.2;
		margin-bottom: 8px;
	}
}

.small-sup {
	font-size: 13px;
	margin-left: 3px;
}



//iPad landscape
@media screen and (max-width: 1024px) {

}


//iPad portrait
@media screen and (max-width: 768px) {

}

//iPhone 6 landscape
@media screen and (max-width: 736px) {

}


//iPhone 6 portrait
@media screen and (max-width: 420px) {

}